
h1,h2{
    text-align: center;
    margin: 20px;

}
.search{
    text-align: center;
}
.photos{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
    margin-left: 16rem;
    margin-right: 16rem;

}
.baR{
    text-align: center;
    margin: 20px;
    display: flex;
    /* justify-content: space-around; */
    gap: 100px;
    background-color: blue;
    align-items: center;
    justify-content: center;
    height: 50px;

}
.IMAGE:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.btn{
    background-color :greenyellow;
    font-weight: 800 ;
    width: 5rem;
}